/*
FONTS
https://www.google.com/fonts
*/
@font-face {
    font-family: "Monda";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Monda-Regular.ttf);
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf);
}

body {
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    min-height: 850px;
    width: 1004px;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    background-color: #000;
    border: 2px solid #333;
    margin-top: 100px;
}

footer {
    position: absolute;
    min-width: 100%; 
    top: 850px;
    height: 100px;
    padding: 10px 0px;
}

footer a {
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: lighter;
    font-size: 1em;
    color: #333;
}